body{
}
h1{
	display:inline;
}
h2{
	display:inline;
}
h3{
	display:inline;
}

h3, a, a:visited, button, select{
	font-family: "Courier New", monospace;	
	color:black;
	border:none;
	text-decoration: none;
}

* {
		background-color:white;
}


.Title{
	font-size: 72px;
}

.Header{
	text-align:right;
	display: inline;
	padding-left:100px;
}

.ChapterTitle{
	display:block;
}

.Language {
	display:block;
	text-align:center;
}

#lang{
	padding-left:20px;
}

#About, #Gallery, #Blog {
	padding-left:75px;
}

.chapterindex {
	text-align:center;
	display:block;
	padding-top: 50px;
	}
	
#chapter {
	display:block;
	padding-bottom: 20px;
}

.Comicbody{
	position:relative;
}

#back{
	width:50%;
	height:95vh;
	background:blue;
	opacity:0%;
	position:absolute;
	left:0%
}
#forward{
	width:50%;
	height:95vh;
	background:red;
	opacity:0%;
	position:absolute;
	left:50%
}


.image{
	clear: none;
	display: block;
	margin: auto;
	width:auto;
	height:95vh;
}

div.Navigation{
	width: 40vw;
	margin: auto;
	padding-bottom: 100px;
}

.Navigation{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align:center;
}

.Navigation a, button{
	flex: 1;
}

.Navigation select{
	flex:0.25
}