body{
}
h1{
	display:inline;
	font-weight:normal;
}
h2{
	display:inline;
	font-size:18px;
	opacity:30%;
	font-weight:normal;
}
h3{
	display:block;
	font-weight:normal;
	margin-left: 50px;
}

h3, a, a:visited, button, select{
	font-family: "Courier New", monospace;	
	color:black;
	border:none;
	text-decoration: none;
}

.foregroundelement{
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	z-index:-1;
}

#verse1{
	position:absolute;
	height: 40vh;
	width: auto;
	bottom: -100px;
	left: 650px;
	
}

#author{
	position:relative;
	right:-40px;
}

#group-photo{
	position:absolute;
	height: 35vh;
	width: auto;
	bottom: -40px;
	left: 50px;
}

.backgroundelement{
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	z-index:-2;
}
#background-img{
	position:relative;
	height:auto;
	width:100vw;
	opacity:100%;
	/*display:none;*/
}

#logo{
	width:15%;
}

.Title2 #logo{
	width:10%;
}

.Title{
	padding-left:100px;
}

.Mast{
	padding: 25px;
}

.Header{
	text-align:right;
	display: inline;
	padding-left:50px;
}

.ChapterTitle{
	display:block;
}

.Language {
	display:block;
	text-align:center;
	padding-top:25px;
}

#lang{
	padding-left:20px;
}

#About, #Gallery, #Blog {
	padding-left:75px;
}

.coverview{
	display: none;
	position: absolute;
	top:0;
	background-color: rgba(256, 256, 256, 0.5);
	z-index: 1;
}

.coverview #background{
	width:100vw;
	height:100vh;
	top:0;
	background-color: rgba(256, 256, 256, 0.5);
	z-index:0
}

.coverview #coverimg{
	position: absolute;
	top:50vh;
	left:50vw;
	transform: translate(-50%, -50%);
	z-index: 1
}

div.indexbody{
	margin-top: 40px;
	width: 100vw;
	height: 60vh;
}

.indexbody{
	position: relative;
	height:fit-content;
	display:flex;
	justify-content:center;
	margin: auto;
}

div.volumeindex{
	width:10vw;
	height:60vh;
	flex:1;
	text-align:center;
}

.volumelabel{
	font-family: "Courier New", monospace;
	margin:auto;
	margin-right: -200px;
}

.volumelabel #coverimg{
	vertical-align: middle;
	width: 33%;
}

div.chapterindex{
	flex:4;
	width: 50vw;
	height: 60vh;
	text-align:center;
}

.chapterindex #chapter{
	position: relative;
	width:1000px;
	height: fit-content;
	display:flex;
	justify-content:center;
	margin: auto;
	margin-top:20px;
	margin-right:33vw;
}

.countdown{
	width: 150px;
	margin-right:70px;
	font-family: "Lucida Bright";
	font-size: 48px;
}

#shout{
	font-size: 24px;
}

#hyphen{
	position:absolute;
	font-size:36px;
	left: 200px;
	top: 10px;
}

#year{
	position: absolute;
	font-size:24px;
	left:250px;
	top:-25px;
}

#indexcontainer{
	position: relative;
	vertical-align: bottom;
	text-align:center;
	background-image: url("chapter_divider.png");
	background-size: cover;
	background-repeat:  no-repeat;
	display: inline-flex;
	justify-content:left;
	height:50px;
	width:70%;
	}

#indexcontainer .index{
	margin:auto;
	display: inline-block;
}
	
#engmonth{
	position: absolute;
	font-weight: bold;
	left: 25px;
}
	
#day, #month{
	flex:1;
	font-size: 24px;
}

#month{
	text-align:left;
	padding-left:20px;
}

#slash{
	position: absolute;
	left: 90px;
	top: 15px;
	font-size: 20px;
}

#kanji_month, #kanji_day{
	font-size: 14px;
	margin-left:-15px;
}

#songtitle{
	font-size: 18px;
	flex:5;
}

.Comicbody{
	position:relative;
}

#comicbody-bg{
	position:absolute;
	width: 100vw;
	opacity:20%;
	z-index: -1;
}

#back{
	width:50%;
	height:95vh;
	background:blue;
	opacity:0%;
	position:absolute;
	left:0%
}
#forward{
	width:50%;
	height:95vh;
	background:red;
	opacity:0%;
	position:absolute;
	left:50%
}


.image{
	clear: none;
	display: block;
	margin: auto;
	width:auto;
}

div.Navigation{
	width: 40vw;
	margin: auto;
	padding-bottom: 100px;
}

.Navigation{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align:center;
}

.Navigation a, button{
	flex: 1;
}

.Navigation select{
	flex:0.25
}