body{
}
h1{
	display:inline;
}
h2{
	display:inline;
}
h3{
	display:inline;
}

h3, a, a:visited, button, select{
	font-family: "Courier New", monospace;	
	color:black;
	border:none;
	text-decoration: none;
}



#logo{
	width:15%;
}

.Title2 #logo{
	width:10%;
}

.Title{
	padding-left:50px;
}

.Mast{
	padding: 25px;
}

.Header{
	text-align:right;
	display: inline;
	padding-left:50px;
}

.ChapterTitle{
	display:block;
}

.Language {
	display:block;
	text-align:center;
	padding-top:25px;
}

#lang{
	padding-left:20px;
}

#About, #Gallery, #Blog {
	padding-left:75px;
}

div.chapterindex{
	width: 100vw;
	height: 60vh;
	background: red;
	text-align:left;
}

.chapterindex #chapter{
	width:1000px;
	height: 50px;
	display:block;
	margin: auto;
	background: blue;
	padding:100px;
}

.countdown{
	display:inline;
	font-size: 72px;
	padding-right: 50px;
}

.chapterindex #chapter #indexcontainer{
	text-align:center;
	background-image: url("chapter_divider.png");
	background-size: cover;
	background-repeat:  no-repeat;
	display: inline-flex;
	justify-content:left;
	width:80%;
	}
	
#day{
	flex:1;
}
#month{
	flex:1;
}
#songtitle{
	flex:5;
}

.Comicbody{
	position:relative;
}

#back{
	width:50%;
	height:95vh;
	background:blue;
	opacity:0%;
	position:absolute;
	left:0%
}
#forward{
	width:50%;
	height:95vh;
	background:red;
	opacity:0%;
	position:absolute;
	left:50%
}


.image{
	clear: none;
	display: block;
	margin: auto;
	width:auto;
	height:95vh;
}

div.Navigation{
	width: 40vw;
	margin: auto;
	padding-bottom: 100px;
}

.Navigation{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	text-align:center;
}

.Navigation a, button{
	flex: 1;
}

.Navigation select{
	flex:0.25
}